In [51]:
import numpy as np
import pandas as pd

## upload the dataset

In [53]:
df =pd.read_csv("links.csv")
df.head()
df.shape

(458, 2)

# isnull()

In [54]:
df.isnull().sum()

Title      0
price    252
dtype: int64

# fillna (0) to NaN

In [55]:
df["price_new"] =df["price"].fillna(0)

In [56]:
df.isnull().sum()

Title          0
price        252
price_new      0
dtype: int64

# backfill

In [57]:
df["price_new"] = df['price_new'].replace(to_replace=0, method='ffill')

In [58]:
df.isnull().sum()

Title          0
price        252
price_new      0
dtype: int64

In [59]:
df.head(22)

,Title,price,price_new
0,Wet n Wild-MegaGlo Dual-Ended Contour Stick -...,Rs.960.00,Rs.960.00
1,"L.A Girl- Illuminating Blush- Playful Pink, BL565",Rs.578.00,Rs.578.00
2,Maybelline New York- Fit Me Liquid Foundation ...,Rs.599.25,Rs.599.25
3,Color Studio- Eye Makeup Remover,NaN,Rs.599.25
4,The Ordinary- 1.0 N Very Fair Serum Foundation...,"Rs.1,780.00","Rs.1,780.00"
5,Rimmel London- Lasting Finish Foundation True ...,"Rs.1,440.00","Rs.1,440.00"
6,Neutrogena- Deep Clean Makeup Removing Wipes 25'S,Rs.490.00,Rs.490.00
7,"L.A Girl- Illuminating Blush - Bashful, GBL552",Rs.640.00,Rs.640.00
8,Wet n Wild- Photo Focus MATTE Setting Spray - ...,NaN,Rs.640.00
9,Rimmel London- Lasting Finish Foundation- Ivor...,"Rs.1,440.00","Rs.1,440.00"
10,The Ordinary- 2.0 P Light Medium Coverage Foun...,"Rs.1,825.00","Rs.1,825.00"
11,The Ordinary- 2.0 N Light Medium Serum Foundat...,"Rs.1,780.00","Rs.1,780.00"
12,Wet n Wild- E373C Photo Focus Foundation - Amb...,"Rs.1,360.00","Rs.1,360.00"
13,Wet N Wild- Photo Focus Setting Spray,NaN,"Rs.1,360.00"
14,The Ordinary- 1.1 N Fair Serum Foundation 30ml,"Rs.1,780.00","Rs.1,780.00"
15,Maybelline New York- Fit Me Liquid Foundation ...,Rs.599.25,Rs.599.25
16,Benefit- High Beam Satiny Pink Complexion High...,"Rs.2,500.00","Rs.2,500.00"
17,Charlotte Tilbury- 2-Fair Light Wonder( 40ml ),"Rs.7,999.00","Rs.7,999.00"
18,I Heart Makeup- Hearts Blusher Blushing Heart,NaN,"Rs.7,999.00"
19,"Bourjois- Face Blush 15 Rose Eclat,8414",NaN,"Rs.7,999.00"
20,Max Factor- Lasting Performance Make Up Founda...,NaN,"Rs.7,999.00"
21,Maybelline New York- Fit Me Liquid Foundation ...,Rs.599.25,Rs.599.25

In [60]:
print (df.dtypes)

Title        object
price        object
price_new    object
dtype: object

# USED STR.REPLACE() TO CONVERSION FOR CURRENCY INTO FLOAT

In [61]:
#Let’s try removing the ‘Rs’ and ‘,’ using str.replace :
df['price_new'] = df['price_new'].str.replace(',', '')
df['price_new'] = df['price_new'].str.replace('Rs.', '')
df['price_new']

0       960.00
1       578.00
2       599.25
3       599.25
4      1780.00
        ...
453     867.00
454     799.20
455     799.20
456     799.20
457     799.20
Name: price_new, Length: 458, dtype: object

In [62]:
df.head()

                                               Title        price price_new
0  Wet n Wild-MegaGlo Dual-Ended Contour Stick  -...    Rs.960.00    960.00
1  L.A Girl- Illuminating Blush- Playful Pink, BL565    Rs.578.00    578.00
2  Maybelline New York- Fit Me Liquid Foundation ...    Rs.599.25    599.25
3                   Color Studio- Eye Makeup Remover          NaN    599.25
4  The Ordinary- 1.0 N Very Fair Serum Foundation...  Rs.1,780.00   1780.00